.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 500px;
  text-align: center;
  padding: 0 0.5rem;
}

.input {
  max-width: 60px;
}

.table-wrapper {
  min-height: 328px;
  box-shadow: 0 0 0 1px #666;
  border-radius: 10px;
  position: relative;
}

.table-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  border-style: hidden;
  border-radius: 10px;
}

.table-header-cell,
.table-cell {
  padding: 0.8rem;
}

.table-row {
  border-top: 1px solid #666;
}

.table-cell {
  overflow-wrap: anywhere;
}

.table-options-cell {
  width: 1%;
}

.row-options {
  display: flex;
  gap: 0.8rem;
  width: fit-content;
}

.row-options-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 150px;
}

.table-title {
  margin-bottom: 2rem;
}

.cell-data {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.cell-data-faded {
  opacity: 0;
}
